<h1>Cohort index</h1>

<% if @cohorts.any? %>
	<ul class="list-group">
		<% @cohorts.each do |cohort| %>
			<li class="list-group-item list-group-item-dark">
				Name: <%= link_to cohort.name, cohort %><br>
				Description: <%= cohort.description %><br>
				Starts: <%= cohort.starts %><br>
				Ends: <%= cohort.ends %><br>
				<%= link_to "delete", @cohort, method: :delete,
																			 data: { confirm: "Are you sure?"} %>
			</li>
		<% end %>
	</ul>
<% else %>
	None<br>
	<%= link_to "New Cohort", new_cohort_path %>
<% end %>
