<h1>Cohort Page</h1>

<ul>
	<li>Name: <%= @cohort.name %></li>
	<li>Description: <%= @cohort.description %></li>
	<li>Starts: <%= @cohort.starts %></li>
	<li>Ends: <%= @cohort.ends %></li>
	<% if current_user.admin? %>
		<li><%= link_to "Add Participants", select_users_cohort_path(@cohort) %></li>
	<% end %>
</ul>

<div>
	Participants:
	<% if @cohort.users.any? %>
		<div class="list-group">
			<% @cohort.users.each do |user| %>
				<%= link_to user.name, user,
										class: "list-group-item list-group-item-dark list-group-item-action" %>
			<% end %>
		</div>
	<% else %>
		none
	<% end %>
</div>
