<h1>Cohort Page</h1>

<ul>
	<li>Name: <%= @cohort.name %></li>
	<li>Description: <%= @cohort.description %></li>
	<li>Starts: <%= @cohort.starts %></li>
	<li>Ends: <%= @cohort.ends %></li>
</ul>

<div>
	Participants:
	<% if @cohort.users.any? %>
		<ol>
			<% @cohort.users.each do |user| %>
				<li><%= link_to user.name, user %></li>
			<% end %>
		</ol>
	<% else %>
		none
	<% end %>
	<br><%= link_to "Add Participants", select_users_cohort_path(@cohort) %>
</div>
