<% provide :title, "#{@cohort.name}" %>

<h1><%= @cohort.name %></h1>

<div class="container">
	<div class="row">
		<div class="col">
			Timeframe: <%= @cohort.starts %> to <%= @cohort.ends %><br>
			Description: <%= @cohort.description %>
			<% if @cohort.goals.any? %>
				<br>Goals:
					<ol class="list-group">
						<%= render @cohort.goals %>
					</ol>
			<% end %>
			<% if current_user.admin? %>
				<%= button_to "Edit Cohort", edit_cohort_path(@cohort),
												method: :get, class: "btn-secondary btn-sm" %>
				<%= button_to "Delete Cohort", @cohort,
												method: :delete, class: "btn-dark btn-sm",
												data: { confirm: "Are you sure?"} %>
				<%= link_to "Add Participants", select_users_cohort_path(@cohort) %>
			<% end %>
			<div>
				<% if @cohort.users.any? %>
					Participants:
					<ol class="list-group">
						<%= render @cohort.users, participant: true %>
					</ol>
				<% else %>
					No participants at this time
				<% end %>
			</div>
		</div>
		<div class="col-1"></div>
		<div class="col border border-secondary rounded">
			<% if @cohort.posts.any? %>
				<ol class="list-group">
					<% @cohort.posts.each do |post| %>
						<li class="list-group-item list-group-item-dark">
							<div>
								<%= content_tag :a, post.title,
																href: "#",
																data: { toggle: "collapse",
																				target: "#post-#{post.id}" } %>
								<div>
									Posted by <%= link_to post.author.name, post.author %>
									<%= format_time(post.created_at) %>
									<% if current_user.admin? %>
										<br><%= button_to "edit", edit_post_path(post),
																			method: :get, class: "btn-secondary btn-sm" %>
										<%= button_to "delete", post,
																	method: :delete, class: "btn-dark btn-sm",
																	data: { confirm: "Are you sure?" } %>
									<% end %>
									<div class="collapse" id="post-<%= post.id %>">
										<%= post.body %>
										<div>
											<%= form_for @comment, remote: true do |f| %>

												<%= render 'shared/error_messages', object: f.object %>

												<%= f.hidden_field :post_id,	 value: post.id %>
												<%= f.hidden_field :author_id, value: current_user.id %>

												<%= f.text_area :body, class: "form-control", id: "post-#{post.id}-comment-box",
																							 placeholder: "comment on this post" %>

												<%= f.submit "comment", class: "btn btn-sm" %>
											<% end %>
										</div>
										<% if post.comments.any? %>
											Comments:
											<ol id="post-<%= post.id %>-comments-list" class="list-group">
												<%= render post.comments %>
											</ol>
										<% end %>
									</div>
								</div>
							</div>
						</li>
					<% end %>
				</ol>
			<% end %>
			<% if current_user.admin %>
				<br><a href="#" data-toggle="collapse" data-target="#new-post-form">New Post open/close</a>
				<%= form_for @post, html: { class: "collapse", id: "new-post-form" } do |f| %>

					<%= render 'shared/error_messages', object: f.object %>

					<%= f.hidden_field :cohort_id, value: @cohort.id %>
					<%= f.hidden_field :author_id, value: current_user.id %>

					<%= f.label :title %>
					<%= f.text_area :title, class: "form-control" %>

					<%= f.label :body %>
					<%= f.text_area :body, class: "form-control" %>

					<%= f.submit "Post", class: "btn" %>
				<% end %>
			<% end %>
		</div>
	</div>
</div>


