<h1>Cohort Page</h1>

<div class="container">
	<div class="row">
		<div class="col">
			<ul>
				<li>Name: <%= @cohort.name %></li>
				<li>Description: <%= @cohort.description %></li>
				<li>Starts: <%= @cohort.starts %></li>
				<li>Ends: <%= @cohort.ends %></li>
				<% if current_user.admin? %>
					<li><%= link_to "Add Participants", select_users_cohort_path(@cohort) %></li>
					<li>
						<%= link_to "Edit Cohort", edit_cohort_path(@cohort) %> | 
						<%= link_to "Delete Cohort", @cohort, method: :delete,
																									data: { confirm: "Are you sure?"} %>
					</li>
				<% end %>
			</ul>
			<div>
				Participants:
				<% if @cohort.users.any? %>
					<div class="list-group">
						<% @cohort.users.each do |user| %>
							<%= link_to user.name, user,
													class: "list-group-item list-group-item-dark list-group-item-action" %>
						<% end %>
					</div>
				<% else %>
					none
				<% end %>
			</div>
		</div>
		<div class="col-1"></div>
		<div class="col border border-secondary rounded">
			<% if @cohort.posts.any? %>
				<ol class="list-group">
					<% @cohort.posts.each_with_index do |post, n| %>
						<li class="list-group-item list-group-item-dark">
							<div>
								<%= content_tag :a, post.title,
																href: "#",
																data: { toggle: "collapse",
																				target: "#post-#{n}" } %>
								<div>
									Posted by <%= link_to post.author.name, post.author %>
									<%= format_time(post.created_at) %>
									<% if current_user.admin? %>
										<br><%= link_to "edit", edit_post_path(post) %> | 
										<%= link_to "delete", post, method: :delete,
																								data: { confirm: "Are you sure?" } %>
									<% end %>
									<div class="collapse" id="post-<%= n %>">
										<%= post.body %>
										<div>
											<%= form_for @comment do |f| %>

												<%= render 'shared/error_messages', object: f.object %>

												<%= f.hidden_field :post_id,	 value: post.id %>
												<%= f.hidden_field :author_id, value: current_user.id %>

												<%= f.text_area :body, class: "form-control",
																							 placeholder: "comment on this post" %>

												<%= f.submit "comment", class: "btn, btn-sm" %>
											<% end %>
										</div>
										<% if post.comments.any? %>
											Comments:
											<ol class="list-group">
												<% post.comments.each do |comment| %>
													<li class="list-group-item list-group-item-dark">
														<%= comment.body %><br>
														<%= link_to comment.author.name, comment.author %>
														<%= format_time(comment.created_at) %>
														<% if (comment.author == current_user) || current_user.admin? %>
															<br><%= link_to "delete", comment,
																												method: :delete,
																												data: { confirm: "delete comment?"} %>
														<% end %>
													</li>
												<% end %>
											</ol>
										<% end %>
									</div>
								</div>
							</div>
						</li>
					<% end %>
				</ol>
			<% end %>
			<% if current_user.admin %>
				<br><a href="#" data-toggle="collapse" data-target="#new-post-form">New Post open/close</a>
				<%= form_for @post, html: { class: "collapse", id: "new-post-form" } do |f| %>

					<%= render 'shared/error_messages', object: f.object %>

					<%= f.hidden_field :cohort_id, value: @cohort.id %>
					<%= f.hidden_field :author_id, value: current_user.id %>

					<%= f.label :title %>
					<%= f.text_area :title, class: "form-control" %>

					<%= f.label :body %>
					<%= f.text_area :body, class: "form-control" %>

					<%= f.submit "Post", class: "btn" %>
				<% end %>
			<% end %>
		</div>
	</div>
</div>


