<h1>All Users</h1>

<h2>Active Clients</h2>
<% if @active.any? %>
	<ol class="list-group">
		<% @active.each do |user| %>
			<li class="list-group-item list-group-item-dark">
				<%= link_to user.name, user %><br>
				Cohort: <%= user.cohort ? (link_to user.cohort.name, user.cohort) :
																	"unassigned" %><br>
				Active Since: <%= format_time(user.activated_at) %><br>
				<% if !user.admin? %> 
					<%=button_to "delete client", soft_delete_user_path(user),
												method: :patch, class: "btn-secondary btn-sm",
												data: { confirm: "Mark user for deletion?" } %>
				<% end %>
			</li>
		<% end %>
	</ol>
<% else %>
	<p>No active clients at this time.</p>
<% end %>

<h2>Deleted Clients</h2>
<% if @soft_deleted.any? %>
	<%= button_to "Permanently Delete All", destroy_soft_deleted_users_path,
								method: :delete, class: "btn-dark btn-sm",
								data: { confirm: "Permanently erase all information for deleted clients?" } %>
	<ol class="list-group">
		<% @soft_deleted.each do |user| %>
			<li class="list-group-item list-group-item-dark">
				<%= user.name %> was deleted <%= format_time(user.deleted_at) %><br>
				<%= button_to "reactivate", reactivate_user_path(user),
											method: :patch, class: "btn-secondary btn-sm",
											data: { confirm: "Send client a reactivation email?" } %>
				<%= button_to "permanently delete", user,
											method: :delete, class: "btn-dark btn-sm",
											data: { confirm: "Permanently erase all information for this client?" } %>
			</li>
		<% end %>
	</ol>
<% end %>

<h2>Unactived Clients</h2>
<% if @unactivated.any? %>
	<ol class="list-group">
		<% @unactivated.each do |user| %>
			<li class="list-group-item list-group-item-dark">
				<%= link_to user.name, user %><br>
				Invited on <%= format_time(user.created_at) %><br>
				<% if !user.admin? %> 
					<%=button_to "delete client", user,
												method: :delete, class: "btn-dark btn-sm",
												data: { confirm: "Are you sure?" } %>
				<% end %>
			</li>
		<% end %>
	</ol>
<% else %>
	<p>No unactivated clients at this time.</p>
<% end %>
