<h1>All Users</h1>

<h2>Active Clients</h2>
<% if @active.any? %>
	<ol class="list-group">
		<% @active.each do |user| %>
			<li class="list-group-item list-group-item-dark">
				<%= link_to user.name, user %><br>
				Cohort: <%= user.cohort ? (link_to user.cohort.name, user.cohort) :
																	"unassigned" %><br>
				Active Since: <%= format_time(user.activated_at) %><br>
				<% if !user.admin? %> 
					<%=link_to "delete client", user, method: :delete,
																						data: { confirm: "Are you sure?" } %>
				<% end %>
			</li>
		<% end %>
	</ol>
<% else %>
	<p>No active clients at this time.</p>
<% end %>

<h2>Unactived Clients</h2>
<% if @unactivated.any? %>
	<ol class="list-group">
		<% @unactivated.each do |user| %>
			<li class="list-group-item list-group-item-dark">
				<%= link_to user.name, user %><br>
				Invited on <%= format_time(user.created_at) %><br>
				<% if !user.admin? %> 
					<%=link_to "delete client", user, method: :delete,
																						data: { confirm: "Are you sure?" } %>
				<% end %>
			</li>
		<% end %>
	</ol>
<% else %>
	<p>No unactivated clients at this time.</p>
<% end %>
