<% provide :title, "Clients" %>

<h1>All Users</h1>

<h2>Active Clients</h2>
<% if @active.any? %>
	<ol class="list-group">
		<%= render @active, active: true %>
	</ol>
<% else %>
	<p>
		No active clients at this time.
		<%= link_to "Invite New Client", new_user_path %>
	</p>
<% end %>

<h2>Deleted Clients</h2>
<% if @soft_deleted.any? %>
	<%= button_to "Permanently Delete All", destroy_soft_deleted_users_path,
								method: :delete, class: "btn-dark btn-sm",
								data: { confirm: "Permanently erase all information for deleted clients?" } %>
	<ol class="list-group">
		<%= render @soft_deleted, deleted: true %>
	</ol>
<% else %>
	<p>No deleted clients at this time.</p>
<% end %>

<h2>Inactive Clients</h2>
<% if @unactivated.any? %>
	<ol class="list-group">
		<%= render @unactivated, inactive: true %>
	</ol>
<% else %>
	<p>
		No inactive clients at this time.
		<%= link_to "Invite New Client", new_user_path %>
	</p>
<% end %>
