<% provide :title, "Messages" %>

<h1>Your Messages</h1>

<!-- JS will toggle between displaying Inbox and Sent tabs -->
<h2>Inbox</h2>
<% if @recieved.any? %>
	<ol>
		<% @received.each do |message| %>
			<li>
				Received: <%= message.created_at %>
				From: <%= link_to message.from_user.name, message.from_user %><br>
				<%= message.body[0..20] %>
				<%= link_to "Read", "#" %> <!-- JS will show message in a View Pane -->
			</li>
		<% end %>
	</ol>
<% else %>
<% end %>

<h2>Sent</h2>
<% if @sent.any? %>
	<ol>
		<% @sent.each do |message| %>
			<li>
				Sent: <%= message.created_at %><br>
				<%= message.body[0..20] %>
				<%= link_to "Read", "#" %> <!-- JS will show message in View Pane -->
			</li>
		<% end %>
	</ol>
<% else %>
<% end %>

<!-- View Pane -->
<div>
	<!-- JS will show selected message -->
	<%= link_to "Reply", "#" %> <!-- if selected message is from Inbox -->
</div>
