<h1>Add New Client</h1>

<%= form_for @user do |f| %>
	<%= render "shared/error_messages", object: f.object %>
	
	<%= f.label 		 :name %>
	<%= f.text_field :name, class: "form-control" %>

	<%= f.label 			:email %>
	<%= f.email_field :email, class: "form-control" %><br>

	<%= f.submit "Invite Client", class: "btn" %>
<% end %>
