<% provide :title, "Contact" %>

<h1>Contact Us</h1>

<%= form_for @outside_message, url: contact_path do |f| %>

	<%= render "shared/error_messages", object: f.object %>

	<%= f.label :name, "Your Name" %><br>
	<%= f.text_field :name %><br>

	<%= f.label :email, "Your email" %><small> (required)</small><br>
	<%= f.email_field :email %><br><br>

	<%= f.label :body, "Message" %><small> (required)</small><br>
	<%= f.text_area :body, placeholder: "Your message here..." %>

	<%= f.submit "Send" %>
<% end %>
